

.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
    background: #f9f9f9;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:10px;
    margin-right:10px;
}

.card span.card-title {
    color: #3053a4;
    font-size: 18px;
    font-weight: 300;
    text-align: left;
    padding-left:15px;
}

.card .card-image {
    position: relative;
    overflow: hidden;
}
.card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    z-index: -1;
}
.card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}
.card .card-content {
    padding-top: 6px;
    padding-bottom: 6px;
    font-weight: 200;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
    padding-left:15px;
}
.card .card-content p {
    color: inherit;
}
.card .card-content span.card-title {
    line-height: 32px;
}
.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;

}
.card .card-action a {
    font-weight: 200;
    color: #95a5a6;
    margin-right: 16px;
    transition: color 0.3s ease;
}
.card .card-action a:hover {
    color: #bdc3c7;
    text-decoration: none;
}

.top-buffer { padding-top:20px; }

.footer-text {
    font-size: 12px;
    font-weight: 200;
    color:#777;
}

.container-4{
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
    white-space: nowrap;
}

.container-4 input#searchBar{
    width: 100%;
    height: 30px;
    background: #f1f1f1;
    border: none;
    font-size: 10pt;
    float: left;
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.container-4 input#searchBar::-webkit-input-placeholder {
    color: #65737e;
    font-weight:200;
}

.container-4 input#searchBar:-moz-placeholder { /* Firefox 18- */
    color: #65737e;
    font-weight:200;
}

.container-4 input#searchBar::-moz-placeholder {  /* Firefox 19+ */
    color: #65737e;
    font-weight:200;
}

.container-4 input#searchBar:-ms-input-placeholder {
    color: #65737e;
    font-weight:200;
}

.container-4 button.icon{
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    margin-left:-50px;
    border: none;
    background: #95a5a6;
    height: 30px;
    width: 50px;
    color: #ecf0f1;
    opacity: 1;
    font-size: 10pt;
    font-weight:200;
    
    -webkit-transition: all .45s ease;
    -moz-transition: all .45s ease;
    -ms-transition: all .45s ease;
    -o-transition: all .45s ease;
    transition: all .45s ease;
}

.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
}

.container-4:hover button.icon:hover{
    background: #34495e;
}

input.middle:focus {
    outline-width: 0;
}

.add-bold{
    font-weight:400;
    color: #2f3130 !important
}
